
	<div class="container my-5">
		<h1 class="text-center">Login</h1>
		<div id="error" hidden>
			<p class="p1">Wrong Input!</p>
		</div>
		<form action="/login" method="post" id="myForm2">
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" class="form-control form-control-lg">
				<div id="email-status"></div>
				<span id="emailError"></span>
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" class="form-control form-control-lg">
				<span id="password-error"></span>
			</div>
			<button type="submit" class="btn btn-outline-dark btn-lg">Log In</button>
		</form>
		<p> Need to register? <a href="/register" class="btn btn-outline-dark btn-lg">Register here</a>.</p>
	</div>

	<!-- Bootstrap JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="/public/js/login2.js"></script>


