<p>
    this is the initial page will contain links to login page, registration page, about the website
</p>
<link rel="stylesheet" type="text/css" href="/public/css/about.css">
<ul>
  <li><a href="/login" class="button">Log In</a></li>
  <li><a href="/register" class="button">Register</a></li>
</ul>
