<link rel="stylesheet" type="text/css" href="/public/css/errror.css">
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p class="mb-0">{{error}}</p>
    </div>
{{/if}}
