
<p>
    this is the first page after successfull login by the user 
</p>

<h1>Welcome to our app!</h1>
    <p>You have successfully logged in.</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/matches">Matches</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/messages">Messages</a></li>
      <li><a href= "/logout"> logout </a></li>
    </ul>