
<p>
    this is the initial page will contain links to login page, registration page, about the website
</p>

<ul>
  <li><a href="/login">Log In</a></li>
  <li><a href="/registration">Register</a></li>
</ul>
