
<p> this is the login page route</p>

  <h1>Login</h1>
  
  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    
    <input type="submit" value="Log In">
  </form>
  
  <p> Need to register? <a href="/registration" class="button">Register here</a>.</p>
