<p> This is the matches page</p>
<p> Will show the user all the matches. A search bar will be provided to search through the users.</p> 
    <p>An option will also be provided to unmatch with other user. </p>