<p>This is the page for profile</p>

<h1>Profile</h1>

<form action="/home" method="post">
  <label for="name">Name: </label>
  <input type="text" id="profname" name="profname"><br><br>

  <label for="email">Email: </label>
  <input type="email" name="profemail" id="profemail">

  <label for="gender">Gender:</label>
  <select name="gender" id="profgender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>

  <label for="age">Age:</label>
  <input type="number" id="profage" name="age" min="18" max="120" required><br>

  <label for="location">Location:</label>
  <input type="text" id="proflocation" name="proflocation" required><br>

  <label for="interests">Interests:</label>
  <textarea name="profinterests" id="profinterests" required></textarea><br>

  <label for="profbio">Bio:</label>
  <textarea name="profbio" id="profbio" required></textarea><br>

</form>
   