/* Style for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}

/* Style for the header */
h1 {
  text-align: center;
  color: #333;
}

/* Style for the form */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 500px;
}

/* Style for the form labels */
label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the form inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* added border */
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for the radio buttons */
input[type="radio"] {
  margin-right: 10px;
}

/* Style for the submit button */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Style for the error message */
.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Style for the button */
.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px; /* added margin to the bottom */
}

button:hover {
  background-color: #555;
}

/* Style for links as buttons */
a.button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

a.button:hover {
  background-color: #555;
}
p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
}

