/* Center align the page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the navigation bar */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: auto;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  /* Style the search form */
  form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
  }
  
  /* Style the list of matches */
  ul {
    margin-top: 20px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  li h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  li img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
  }
  
  li p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  
  li a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 10px;
  }
  
  li a:hover {
    background-color: #555;
  }
  
  li form button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  li form button:hover {
    background-color: #c9302c;
  }
  
  /* Style the "Go to Home" button */
  a.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    text-decoration: none;
  }
  
  a.button:hover {
    background-color: #555;
  }
  