<p>
    this is the first page after successfull login by the user 
</p>

<h1>Welcome to our app!</h1>
    <p>You have successfully logged in.</p>
    <ul>
  <li><a href="/home/{{user._id}}" class="button">Home</a></li>
  <li><a href="/matches/{{user._id}}" class="button">Matches</a></li>
  <li><a href="/potentialMatches/{{user._id}}" class="button">Potential Matches</a></li>
  <li><a href="/profile/{{user._id}}" class="button">Profile</a></li>
  <li><a href="/messages" class="button">Messages</a></li>
  <li><a href="/logout" class="button">logout</a></li>
</ul>

